@model List<OBilet.Application.Features.BusJourney.Queries.BusJourneyDto>;
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="header">
    <button class="back-button">
        <svg width="30px" height="30px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFF" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" />
            <path fill="#FFF"
                  d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" />
        </svg>
    </button>
    <div class="title">
    </div>
</div>

<div class="ticket-list">
    @foreach (var item in Model)
    {
        <div class="ticket">
            <div class="ticket-info">
                <div class="time">
                    <p>Kalkış</p>
                    <h2>@item.DepartureTime.ToString("HH:mm")</h2>
                </div>
                <div class="arrow">→</div>
                <div class="time">
                    <p>Varış</p>
                    <h2>@item.ArrivalTime.ToString("HH:mm")</h2>
                </div>
                <div class="fill"></div>
                <div class="price">
                    <p>@item.Price.ToString("N2") TL</p>
                </div>
            </div>

            <div class="location">
                <p>@item.Origin - @item.Destination</p>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".back-button").click(function () {
                window.history.back();
            });
        });
    </script>
}